<div data-dojo-type="dijit.layout.BorderContainer"  class="${baseClass}Root" data-dojo-id="navToolbar">
	   <div class="${baseClass}Back" data-dojo-id="back" title="Previous extent"  data-dojo-attach-event="ondijitclick:_onBackClick" ></div>
       <div class="${baseClass}Fwd" data-dojo-id="fwd" title="Next extent" data-dojo-attach-event="ondijitclick:_onFwdClick"></div>
       <div class="${baseClass}Full" data-dojo-id="full" title="Full extent" data-dojo-attach-event="ondijitclick:_onFullClick" ></div>
</div>
